@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*--------共通部分--------*/
html, body, input, textarea, button {
    font-size: 10px;    
    font-family: 'Cormorant Infant', serif;
    /*font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;*/
}
header {
   width: 100%;
   background-color: #fff;
   top: 0;
}

/*nameの表示*/
#name{
    width: auto;
    height: 500px;
    overflow: hidden;
}

h1 {
    margin: 250px;
    text-align: center;
    font-size: 6rem;
   /* font-family: Georgia, 'Times New Roman', Times, serif;*/
    font-family: 'Cormorant Infant', serif;
    
} 

p{
    font-size: 1.75rem;
}

/*animation 1*/
.wrap {
    text-align: center;
}

.circle{
    margin-top: 40px;
    background-color: #FFBEDA;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.circle.hide {
  animation: hideop 1s linear 0s;
  animation-fill-mode: forwards;
}

/*各コンテンツのフォント*/
/*PC用に移動
h2{
    padding-top: 40px;
    margin-left: 250px;
    color: darkgrey;
    font-size: 4.0rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    clear:left;
}*/
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
/*-----Profile-----*/
#profile {
    background-color: #064e196b;
    height: auto;
}
#profile h2{
    color: white;
}
.pic {
    text-align: center; 
    padding-top: 20px;
}


/*-----Skill-----*/
#skills {
    margin-bottom: 70px;
}

#skills h2 {
    color: black;
}


.image-vw{
    padding-top:4px;
    width: 6vw;
    padding-left: 10px;
    display: inline-block;
}
.pic-2 {
    text-align: center; 
    padding-top: 30px;
}

.skillChart {
    position: relative;
    width: calc(80% - 70px);
    height: 400px;
    margin: 0 auto;
}
#mChart {
    display: block;
    padding: 6px;
    margin: 5px auto;
    width: 100%;
}
/*-----Works------*/
#works{
    background-color: #f6e2bd6b;
}

#works h2 {
    color: black;
}


/*-----Contact----*/

.contact {
    padding-top: 20px;
   /* background: #c7e2ca;*/
    height: auto;
    padding-bottom: 20px;
}

.contact h2 {
    color: black;
}
/*------footer------*/
#footer {
    margin: auto;
    width: 100%;
    padding: 10px;
    background: rgb(29 62 4);
    height: 80px;
}
hr {
    height: 6px;
    background-color: #edc9d0;
    width: 99%;
    padding: 0;
    border: none;
}
#footer p {
    text-align: right;
    color: white;
    padding-right: 20px;
    font-size: 2.0rem;
}


@media screen and (min-width :768px) {
    
    /*--------PC menue-------*/
    #mobile-nav {
        display: none;
    }
    
    .mobile-nav-category {
        display:none;
    }
    /*nav設定*/
    .pc-nav {
        padding: 0;
        z-index: 1;
        background: rgb(29 62 4);
        width: 100%;
        position: fixed;
    }
    .pc-nav ul {
        padding-left: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
    }
    .pc-nav ul li {
        width: 8%;
        text-align: center;
        margin-left: 6px;
        margin-right: 6px;
        transition: all .8s;
    }
    .pc-nav ul li a {
        height: 30px;
        margin: 20px;
        padding: 10px;
        color: white;
        font-size: 1.7rem;
        text-decoration: none;
    }
    .pc-nav ul li a:hover{
        background-color: white;
        color: black;
    }  
    
    #toggle {
        display: none;
    }
    
    h2{
        padding-top: 20px;
        margin-left: 250px;
        color: white;
        font-size: 4.0rem;
        font-family: 'Cormorant Infant', serif;
        clear:left;
    }
    .section {
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }
    
    .slideL{
        transform: translate(-800px, 0);
    }
    .slideL.show{
        transform: translate(0, 0) !important;
    }
    
    .slideR{
        transform: translate(800px, 0);
    }
    .slideR.show{
        transform: translate(0, 0) !important;
    }
    
    .pc-title-line {
        position: relative;
        z-index: 1;
    }
    .pc-title-line:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -14px;
        width: 0%;
        height: 4px;
        background: #003300;
        z-index: -1;
        transition: all 0.8s;
    }
    .pc-title-line.isActive:after {
        width: 90%;
    }

    /*--------Profile---------*/
    #profile {
        background-color: #064e196b;
        height: auto;
    }
    
    .content {
        margin: 40px auto;
        width: 90%;
        float: left;
    }
    .left{
        float: left;
        margin-left: 400px;
        margin-top: 30px;
        max-width: 130px;
        max-height: 130px;
        padding-right: 20px;
    }
    .body {
        float: left;
        vertical-align: central;
        width: 50%;
    }
    /*-----Policy-----*/
    .policy {
        clear: left;
        padding: 10px;
        margin: 0 auto;
        width: 60%;
        margin-bottom: 30px;
    }
    .arrow-right {
        position: relative;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin: 0 auto;
        border-top: solid 4px black;
        border-right: solid 4px black;
        transform: rotate(45deg);
    }
    h3 {
        display: inline-block;
        padding-left: 20px;
        font-size: 35px;
        margin-bottom: 10px;
        color: white;        
    }
   
    .policyFrame {
        margin-top: 10px;
        padding: 20px;
        position: relative;
    }
    
    .policyFrame::before, .policyFrame::after {
        content: '';
        width: 30px;
        height: 30px;
        position: absolute;
    }
    
    .policyFrame::before {
        border-left: solid 3px black;
        border-top: solid 3px black;
        top: 0;
        left: 0;
    }
    
    .policyFrame::after {
        border-right: solid 3px black;
        border-bottom: solid 3px black;
        bottom: 0;
        right: 0;
        margin-bottom:50px;
    }
    
    .policyBox ul li {
        font-size: 1.75rem;
        list-style-type: decimal-leading-zero;
    }
    .m-policy {
        display: none;
    }
    
    
    
    /*-----Skills-----*/
    .skills-body {
    margin-top: 30px;
    display: block;
    text-align: left;
    margin-left: 250px;
}

    /*-----Works-----*/
    
    #works{
        height: 100vH;
    }
    .m-work-pic, .image-vw-2-m, .m-work-pic p {
        display: none;
    }
    .w-body{
        margin-left: 380px;    
    }
    
    .w-pic {
        position: relative;
        display: block;
        text-align: center; 
        overflow: visible;    
        margin-top: 50px;
    }
    
    .image-vw-2{
        padding-bottom: 5px;
        width: 30%;
        height:auto;
        padding: 10px;
        display: inline-block;
    }
    .w-pic img {
        display: inline-block;
        transition-duration: 0.5s;
    }
    .w-pic img:hover{
        transform: scale(1.2,1.2);
        transition-duration: 0.5s;
    }
    
    .w-pic p{
        margin-left: 40px;
        font-size: 1.75rem;
        position: absolute;
        color: black;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
    }

    ul .m-work-slider, ul .slick-slider{
        display: none;
    }
    #slick-slide01,
    .slick-slide, .slick-prev,
    .slick-arrow, .slick-current, .slick-active
    {
        display: none;
    }
    
    
    /*-----Cotact-----*/
    #contact {
        position: absolute;
        text-align: center;
    }
    .mobile-contact {
        display: none;
    }
    .PC-contact {
        width: 800px;
        margin: 0 auto;
    }
    
    .item {
        overflow: hidden;
        margin-bottom: 20px;
    }
    
    .label {
        font-size: 17px;
        float: left;
        margin-right: 20px;
        width: 160px;
        border-left: solid 3px #FF0461;
        padding-left: 10px;
    }
    
    .input {
        float: left;
        width: 350px;
        padding-left: 20px;
    }
    
    input[type="text"], input[type="email"] {
        border: solid 1px #aaa;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.7rem;
    }
    textarea {
        border: solid 1px #aaa;
        border-radius: 5px;
        padding: 10px;
        height: 160px;
        font-size: 1.7rem;
    }
    
    /*-----問い合わせ送信ボタン-----*/
    .send { 
        font-size: 1.8rem;
        display: inline-block;
        padding: 0.7em 2em;
        color: black;
        border: solid 1px #FF367F;
        border-radius: 50px;
        transition: .4s;
        background: white;
    }
    
    .send:hover{
        background: #FF367F;
        color:white;
    }
    
    
    /*-----Go to Top page-----*/
    .btn-2 {
        text-align: left;
        margin: 50px;
        background: #c7e2ca;
    }
    
    .btn-to-top {
        font-size: 1.7rem;
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: black;  
        background: transparent;
        border: none;
        outline: none;
        padding-top: 1em;

    }
    
    .btn-to-top:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        top:100%;
        left: 0;
        border-radius: 3px;
        background:#FF69B4;
        transition: .2s;
    }
    
    .btn-to-top:hover:before {
        top: -webkit-calc(100% - 3px);
        top: calc(100% - 3px);
    }
    /*-----Contactボタン-----*/
    .btn{
        text-align: center;
        padding-bottom: 30px;
    }
    
    .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }
    
    .contact-btn {
        font-size: 17px;
        display: inline-block;
        padding: 1em 4em;
        color: darkgray;
        border: solid 2px #064E0F;
        border-radius: 50px;
        transition: .4s;
        background: white;
        margin-bottom: 60px;
        margin-top: 60px;
    }
    
    .contact-btn:hover{
        background: #064E0F;
        color:white;
    }
}


@media screen and (max-width: 480px){
    html {
        width: 100%;
    }
    .pc-nav {
        display: none;
    } 
    
    body {
        margin: 0;
        width: 100%;
    }
    h3{
        display: none;
    }
    /*---------Menue---------*/
    header {
        display: flex;
        height: 28px;
    }
    #mobile-nav {
        position: fixed;
        display: block;
        width: 30px;
        height: 20px;
        margin: 0 0 0 5px;
    }
    /*------真ん中のライン-------*/
    #mobile-nav span{
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background: #330000;
        transform: translateY(-50%);
    }
    /*-----上のライン------*/
    #mobile-nav::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #330000;
    }
    /*------下のライン------*/
    #mobile-nav::after{
        content: '';
        display: block;
        position:absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #330000;
    }
    .mobile-nav-category {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: block;
        background: rgba(104, 0, 0, 0.7);
        transition: all .2s ease-in-out;
        opacity: 0;
        transform: translateY(-100%);
    }
    .mobile-nav-category ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        list-style: none;
    }
    .mobile-nav-category ul li {
        margin: 0;
        padding: 0;
    }
    .mobile-nav-category ul li span {
        font-size: 1.6rem;
        color : white;
    }
    .mobile-nav-category ul li a, 
    .mobile-nav-category ul li span {
        color: white;
        font-size: 1.75rem;
        display: block;
        padding: 20px 0;
    }
    /*-----閉じるアイコン*/
    .mobile-nav-category .close {
        position: relative;
        padding-left: 20px;
    }
    /*-----ばつライン1-----*/
    .mobile-nav-category .close::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 16px;
        height: 1px;
        background: #fff;
        transform: rotate(45deg);
    }
    /*-----ばつライン2-----*/
    .mobile-nav-category .close::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 16px;
        height: 1px;
        background: #fff;
        transform: rotate(-45deg);
    }
    /*-----表示、非表示-----*/
    .toggleA {
        transform: translateY( 0 );
        opacity: 1;
    }
    
    h1 {
        display: none;
    }
 
    h2 {
        margin-top: auto;
        margin-left: 20px;
        color: darkgrey;
        font-size: 3.5rem;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        clear: left;
    }
    p{
        font-size: 1.75rem;
        padding: 5px;
    }
    .section {
        min-height: 85vh;
        width: 100%;
        margin: 0 auto;
        padding-top: 15px;
    }
    .m-title-line {
        position: relative;
        z-index: 1;
    }
    .m-title-line:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -14px;
        width: 0%;
        height: 4px;
        background: #003300;
        z-index: -1;
        transition: all 0.8s;
    }
    .m-title-line.isActive:after {
        width: 95%;
    }
    
    
    /*---------Profile----------*/
  
    
    .content {
        position: relative;
        width: 100%;
        text-align: center;
        margin-left: 0;
    }
    .left{
        /*position: absolute;*/
        width: 40%;
        margin: 0 auto;
    }
    .body {
        /*margin-top: 150px;*/
        display: block;
        text-align: left;
        padding-top: 10px;
        padding: 5px;
    }
    
    .arrow-right, .policyBox, .policyFrame {
        display: none;
    }
    
    .m-policy {
        margin: 10px;
        padding-bottom: 10px;    
    }    
    .m-policy p:first-child {
        border-left: solid 4px green;
        padding-left: 10px;
        font-size: 3.0rem;
        color: white;        
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .m-policy ul li {
        font-size: 1.75rem;
        list-style-type: decimal-leading-zero;
    }

    /*-------Skills--------*/
    .wrapper {
        display: none;
    }
    #skills {
        height: auto;
    }
    .skills-body {
    margin-top: 30px;
    display: block;
    text-align: left;
    }
    
    /*-------Works--------*/
    #works{
    margin-top: 30px;
    height: 100vH;
    }
    .w-pic {
        display: none;
    }
    .w-body {
        text-align: left;
        padding: 0 5px;
    }
    .m-slider img {
        width: 70%;
    }
    
    
    
    
    
    /*--------Contact----------*/
    #contact {
        height: 100vH;
    }
    .btn {
        display: none;
    }

    .mobile-contact {
        text-align: center;
    }
        
    form {
        width: 100%;
        margin: 10px 18px;
    }
    
    .item {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 10px 18px 20px 18px;
    }
    
    .label {
        font-size: 1.7rem;
        float: left;
        border-left: solid 3px #267817;
        padding-left: 10px;
    }

    
    .input {    
        float: left;
        margin: 10px 30px;
    }
    
    input[name="name"] {
        border: solid 1px #aaa;
        border-radius: 5px;
        padding: 5px;
        font-size: 1.7rem;
    }
    input[name="address"]{
        border: solid 1px #aaa;
        border-radius: 5px;
        padding: 5px;
        font-size: 1.7rem;
        width: 80%;
    }
    textarea {
        border: solid 1px #aaa;
        border-radius: 5px;
        padding: 10px;
        height: 160px;
        width: 80%;
        font-size: 1.7rem;
    }
    
    /*問い合わせ送信ボタン*/
    .m-send { 
    margin: 10px auto;
    font-size: 1.4rem;
    padding: 0.6em 2em;
    color: black;
    border: solid 1px darkgrey;
    transition: .4s;
    background: white;
    }
    
    .m-send:hover{
        background: #999697;
        color:white;
    }
}

